In [4]:
import yfinance as yf
import numpy as np
import csv
import pandas as pd

In [3]:
msft = yf.Ticker("MSFT")

# get stock info
msft.info

# get historical market data
hist = msft.history(period="max")

In [16]:
# show financials
msft.quarterly_financials

,2022-03-31 00:00:00,2021-12-31 00:00:00,2021-09-30 00:00:00,2021-06-30 00:00:00
Cost Of Revenue,1.5615e+10,1.696e+10,1.3646e+10,1.3991e+10
Discontinued Operations,None,None,None,None
Ebit,2.0364e+10,2.2247e+10,2.0238e+10,1.9095e+10
Effect Of Accounting Charges,None,None,None,None
Extraordinary Items,None,None,None,None
Gross Profit,3.3745e+10,3.4768e+10,3.1671e+10,3.2161e+10
Income Before Tax,2.019e+10,2.2515e+10,2.0524e+10,1.9405e+10
Income Tax Expense,3.462e+09,3.75e+09,1.9e+07,2.947e+09
Interest Expense,-4.99e+08,-5.21e+08,-5.35e+08,-5.49e+08
Minority Interest,None,None,None,None
Net Income,1.6728e+10,1.8765e+10,2.0505e+10,1.6458e+10
Net Income Applicable To Common Shares,1.6728e+10,1.8765e+10,2.0505e+10,1.6458e+10
Net Income From Continuing Ops,1.6728e+10,1.8765e+10,2.0505e+10,1.6458e+10
Non Recurring,None,None,None,None
Operating Income,2.0364e+10,2.2247e+10,2.0238e+10,1.9095e+10
Other Items,None,None,None,None
Other Operating Expenses,None,None,None,None
Research Development,6.306e+09,5.758e+09,5.599e+09,5.687e+09
Selling General Administrative,7.075e+09,6.763e+09,5.834e+09,7.379e+09
Total Operating Expenses,2.8996e+10,2.9481e+10,2.5079e+10,2.7057e+10
Total Other Income Expense Net,-1.74e+08,2.68e+08,2.86e+08,3.1e+08
Total Revenue,4.936e+10,5.1728e+10,4.5317e+10,4.6152e+10

In [10]:
# show earnings
msft.earnings

         Earnings       Revenue
Year
2018  16571000000  110360000000
2019  39240000000  125843000000
2020  44281000000  143015000000
2021  61271000000  168088000000

In [15]:
# show info
msft.info
msft.info['trailingPE']

27.630482

In [ ]:
with open("RussellTickers500to1000.csv") as f:
    tickers = f.read()

dftot=yf.download(tickers, start='2012-02-01', end='2022-06-01', interval = "1mo", group_by="ticker")

dftot = dftot.xs('Close', level=1, axis=1)
dftot = dftot.reset_index()
dftot = dftot.fillna(0)

dftot.to_csv('RussellData500to1000.csv', index=False)

dftot.head()

In [ ]:
with open("RussellTickers1000to1500.csv") as f:
    tickers = f.read()

dftot=yf.download(tickers, start='2012-02-01', end='2022-06-01', interval = "1mo", group_by="ticker")

dftot = dftot.xs('Close', level=1, axis=1)
dftot = dftot.reset_index()
dftot = dftot.fillna(0)

dftot.to_csv('RussellData1000to1500.csv', index=False)

dftot.head()

In [ ]:
with open("RussellTickers1500to2000.csv") as f:
    tickers = f.read()

dftot=yf.download(tickers, start='2012-02-01', end='2022-06-01', interval = "1mo", group_by="ticker")

dftot = dftot.xs('Close', level=1, axis=1)
dftot = dftot.reset_index()
dftot = dftot.fillna(0)

dftot.to_csv('RussellData1500to2000.csv', index=False)

dftot.head()

In [ ]:
with open("RussellTickers2000to2500.csv") as f:
    tickers = f.read()

dftot=yf.download(tickers, start='2012-02-01', end='2022-06-01', interval = "1mo", group_by="ticker")

dftot = dftot.xs('Close', level=1, axis=1)
dftot = dftot.reset_index()
dftot = dftot.fillna(0)

dftot.to_csv('RussellData2000to2500.csv', index=False)

dftot.head()

In [2]:
with open("RussellTickers2500to3000.csv") as f:
    tickers = f.read()

dftot=yf.download(tickers, start='2012-02-01', end='2022-06-01', interval = "1mo", group_by="ticker")

dftot = dftot.xs('Close', level=1, axis=1)
dftot = dftot.reset_index()
dftot = dftot.fillna(0)

dftot.to_csv('RussellData2500to3000.csv', index=False)

dftot.head()

[*********************100%***********************]  529 of 529 completed

134 Failed downloads:
- TLRA: No data found, symbol may be delisted
- BOCH: No data found, symbol may be delisted
- BSTC: No data found, symbol may be delisted
- MNLO: No data found, symbol may be delisted
- SHLO: No data found, symbol may be delisted
- EPE: No data found, symbol may be delisted
- EIDX: No data found, symbol may be delisted
- ESXB: No data found, symbol may be delisted
- FSNN: No data found, symbol may be delisted
- INAP: No data found, symbol may be delisted
- IOTS: No data found, symbol may be delisted
- PICO: No data found, symbol may be delisted
- SPA: No data found, symbol may be delisted
- PIR: No data found, symbol may be delisted
- PTVCB: No data found, symbol may be delisted
- CETV: No data found, symbol may be delisted
- SNNA: No data found, symbol may be delisted
- JAX: No data found, symbol may be delisted
- MRT: No data found, symbol may be delisted
- FRAN: No data found, symbol may be delisted
- UMRX: No data found, symbol may be delisted
- MFSF: No data found, symbol may be delisted
- GPX: No data found, symbol may be delisted
- RNET: No data found, symbol may be delisted
- NYNY: No data found, symbol may be delisted
- --: No data found, symbol may be delisted
- SFS: No data found, symbol may be delisted
- CBLK: No data found, symbol may be delisted
- IHC: No data found, symbol may be delisted
- CRCM: No data found, symbol may be delisted
- CRR: No data found, symbol may be delisted
- EMCI: No data found, symbol may be delisted
- RTYZ8: No data found, symbol may be delisted
- HBMD: No data found, symbol may be delisted
- HCHC: No data found, symbol may be delisted
- TRK: No data found, symbol may be delisted
- CSLT: No data found, symbol may be delisted
- PFNX: No data found, symbol may be delisted
- GTXI: No data found, symbol may be delisted
- PTI: No data found, symbol may be delisted
- DFRG: No data found, symbol may be delisted
- TTS: No data found, symbol may be delisted
- FRTA: No data found, symbol may be delisted
- NWY: No data found for this date range, symbol may be delisted
- ROX: No data found, symbol may be delisted
- P5N994: No data found, symbol may be delisted
- MEET: No data found, symbol may be delisted
- GEN: No data found, symbol may be delisted
- CVTI: No data found, symbol may be delisted
- ZN: No data found, symbol may be delisted
- SLCT: No data found, symbol may be delisted
- CLUB: No data found, symbol may be delisted
- FTSI: No data found, symbol may be delisted
- SPKE: No data found, symbol may be delisted
- ESZ8: No data found, symbol may be delisted
- CSU: No data found, symbol may be delisted
- CRDB: No data found for this date range, symbol may be delisted
- MPO: No data found, symbol may be delisted
- CNBKA: No data found, symbol may be delisted
- QHC: No data found, symbol may be delisted
- BREW: No data found, symbol may be delisted
- PRGX: No data found, symbol may be delisted
- LLEX: No data found, symbol may be delisted
- ISRL: No data found, symbol may be delisted
- TOCA: No data found, symbol may be delisted
- IMDZ: No data found, symbol may be delisted
- PES: No data found, symbol may be delisted
- SBPH: No data found, symbol may be delisted
- TNAV: No data found, symbol may be delisted
- LIVX: No data found, symbol may be delisted
- NES: No data found, symbol may be delisted
- NK: No data found, symbol may be delisted
- ICBK: No data found, symbol may be delisted
- FCBP: No data found, symbol may be delisted
- ODT: No data found, symbol may be delisted
- QES: No data found, symbol may be delisted
- ECR: No data found, symbol may be delisted
- ELGX: No data found, symbol may be delisted
- AREX: No data found, symbol may be delisted
- LTS: No data found, symbol may be delisted
- INNT: No data found, symbol may be delisted
- SBBX: No data found, symbol may be delisted
- CLD: No data found, symbol may be delisted
- HABT: No data found, symbol may be delisted
- VTL: No data found, symbol may be delisted
- JCAP: No data found, symbol may be delisted
- RARX: No data found, symbol may be delisted
- DOVA: No data found, symbol may be delisted
- GCAP: No data found, symbol may be delisted
- RLH: No data found, symbol may be delisted
- GNC: No data found, symbol may be delisted
- KEG: No data found, symbol may be delisted
- WIN: No data found, symbol may be delisted
- WAAS: No data found, symbol may be delisted
- SN: No data found, symbol may be delisted
- MXWL: No data found, symbol may be delisted
- UPL: No data found, symbol may be delisted
- PMBC: No data found, symbol may be delisted
- NLNK: No data found, symbol may be delisted
- MLNT: No data found, symbol may be delisted
- FBM: No data found, symbol may be delisted
- ERA: No data found, symbol may be delisted
- BAS: No data found, symbol may be delisted
- MJCO: No data found, symbol may be delisted
- YRCW: No data found, symbol may be delisted
- RTIX: No data found, symbol may be delisted
- TLGT: No data found, symbol may be delisted
- INSY: No data found, symbol may be delisted
- BXG: No data found, symbol may be delisted
- MGEN: No data found, symbol may be delisted
- KDMN: No data found, symbol may be delisted
- AMBR: No data found, symbol may be delisted
- PHIIK: No data found, symbol may be delisted
- RBNC: No data found, symbol may be delisted
- MBTF: No data found, symbol may be delisted
- NWHM: No data found, symbol may be delisted
- MDCA: No data found, symbol may be delisted
- PETX: No data found, symbol may be delisted
- AKAO: No data found, symbol may be delisted
- CBMG: No data found, symbol may be delisted
- ENFC: No data found, symbol may be delisted
- FCCY: No data found, symbol may be delisted
- AQ: No data found, symbol may be delisted
- NEOS: No data found, symbol may be delisted
- TBIO: No data found, symbol may be delisted
- AT: No data found, symbol may be delisted
- GRIF: No data found, symbol may be delisted
- VSLR: No data found, symbol may be delisted
- PFBI: No data found, symbol may be delisted
- ARA: No data found, symbol may be delisted
- MRLN: No data found, symbol may be delisted
- GFN: No data found, symbol may be delisted
- CVIA: No data found, symbol may be delisted
- TTPH: No data found, symbol may be delisted

,Date,EPM,BOCH,RYI,CIVI,ERII,GAIA,LASR,RLGT,BWB,...,FCCO,TNK,CCXI,PFBI,SELB,NCSM,CECE,SCPH,TTPH,HSDT
0,2012-02-01,9.28,0.0,0.0,2075.536865,2.15,3.62,0.0,2.3,0.0,...,7.27,35.360001,10.2,0.0,0.0,0.0,7.15,0.0,0.0,0.0
1,2012-02-02,0.00,0.0,0.0,0.000000,0.00,0.00,0.0,0.0,0.0,...,0.00,0.000000,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0
2,2012-02-03,0.00,0.0,0.0,0.000000,0.00,0.00,0.0,0.0,0.0,...,0.00,0.000000,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0
3,2012-02-06,0.00,0.0,0.0,0.000000,0.00,0.00,0.0,0.0,0.0,...,0.00,0.000000,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0
4,2012-02-07,0.00,0.0,0.0,0.000000,0.00,0.00,0.0,0.0,0.0,...,0.00,0.000000,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0